<div class="comment-item">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS89YbbJQymzIkaQHu-4cMPU-20q8chmtOb_A&s"
    alt="channel image"
  />
  <div class="comment-item-comment">
    <h2>channel name</h2>
    <p class="video-description-box-views-date">
      21/11/2003 12:30PM
    </p>
    <p class="comment-content">
      comment comment comment comment comment comment comment comment comment
      comment comment comment comment comment comment comment
    </p>
  </div>
</div>
