<!-- video start -->
<div class="video-container">
  <div class="channel-info">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS89YbbJQymzIkaQHu-4cMPU-20q8chmtOb_A&s"
      alt="channel image"
    />
    <h2>channel name</h2>
  </div>
  <div class="video-info">
    <img
      src="https://i.ytimg.com/vi/Nii_fBGb0_c/maxresdefault.jpg"
      alt="thumbnail"
    />
    <div class="video-description-box">
      <p class="video-description-box-title">
        video title video title video title video title video title !
      </p>

      <p class="video-description-box-views-date">
        21/11/2003 12:30PM • 339k views • 339k likes • 230 comments
      </p>
      <p class="video-description-box-description">
        description description description description description description
        description description description description description description
        description description description description description !
      </p>
    </div>
  </div>
</div>
<!-- video start -->
