body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  margin-bottom: 10rem;
}

hr {
  margin-top: 2rem;
  border-color: rgba(0, 0, 0, 0.116);
}

nav {
  background-color: #333;
}

.navbar {
  height: 3.5rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.nav-item-right {
  flex: 1;
  flex-direction: row;
  display: flex;
  direction: rtl;
  text-align: right;
}

.nav-item-left {
  flex: 1;
  flex-direction: row;
  display: flex;
}
.nav-search {
  flex: 2;
  width: 100%;

  flex-direction: row;
  display: flex;
}

.nav-item-search {
  margin: 0.7rem;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.nav-item {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-item-active {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-item a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.nav-item-active a {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.596);
  text-decoration: none;
}

.nav-item form input {
  border: none;
  box-shadow: none;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  bottom: none;
  text-decoration: none;
  cursor: pointer;
}

.nav-item form input:hover {
  color: rgba(255, 255, 255, 0.596);
}

.nav-item a:hover {
  color: rgba(255, 255, 255, 0.596);
}

#nav-item-search-input {
  flex: 10;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  margin-right: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.849);
}

#nav-item-search-submit {
  margin-left: 0;
  background-color: rgb(185, 6, 6);
  border-style: solid;
  cursor: pointer;
  border: none;
  flex: 1;
  color: white;
  font-size: 1.2rem;
}

#nav-item-search-submit:hover {
  background-color: #5f040480;
}

#content {
  width: 67%;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#content h1 {
  margin-bottom: 1.5rem;
}

.video-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.channel-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.7rem;
}

.channel-info img {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.channel-info h2 {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: auto;
  margin-left: 1rem;
}

.video-info {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}
.video-info img {
  height: fit-content;
  width: 22rem;
  min-width: 22rem;
  border-radius: 5%;
  margin-right: 1rem;
  overflow: hidden;
  align-items: center;
}

.video-description-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.video-description-box-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.video-description-box-views-date {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.541);
  font-size: 0.7rem;
  font-weight: bold;
  /* margin-bottom: 2rem; */
}

.video-description-box-description {
  margin-top: 0;
  font-size: 0.9rem;
  height: fit-content;
  color: rgba(0, 0, 0, 0.644);
  /* background: gray; */
}
