 <div class="container_">
        <form class="form_" action="/auth/login" method="POST" >
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

            <label for="email" class="label_">Email</label>
            <input type="email" id="email" name="email" class="input_" required>

            <label for="password" class="label_">Password</label>
            <input type="password" id="password" name="password" class="input_" required>
            <p>
                <a style="color: rgba(0, 0, 5, 0.856) ;" href="/auth/reset-password">reset password</a>
            </p>
            <button type="submit" class="button_">Login</button>
        </form>
    </div>
</body>