 <div class="container_">
        <form class="form_">

            <!-- do not forget to add a hidden input for the token -->

            <label for="password" class="label_">Password</label>
            <input type="password" id="password" name="password" class="input_" required>

            <label for="confirm-password" class="label_">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" class="input_" required>

            <button type="submit" class="button_">Reset Password</button>
        </form>
    </div>
</body>