 <div class="container_">
        <form class="form_">

            <label for="email" class="label_">Email</label>
            <input type="email" id="email" name="email" class="input_" required>
            <button type="submit" class="button_">confirm email</button>
        </form>
    </div>
</body>